.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
}

.header-logo-title svg {
    width: 1em;
    flex-shrink: 0;
}

.header-title {
    font-weight: 600;
}

.header-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header-login label {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--color-content-weak);
    margin-bottom: 0.1rem;
}

@media (max-width: 360px) {
    .header-logo-title {
        font-size: 1.25rem;
    }
}
