.post-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: stretch;
    width: 100%;
}

.post-form input {
    flex: 17;
}

.post-form .delete-button {
    flex: 1;
}

.post-form .submit-button {
    flex: 3;
}
