.primary-button {
    color: var(--color-primary);
    background-color: var(--color-primary-background);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}

.primary-button:hover {
    color: var(--color-background-hover);
    background-color: var(--color-primary-background-hover);
}

.primary-button:active {
    color: var(--color-background-hover);
    background-color: var(--color-primary-background-selected);
}

.primary-button:disabled {
    color: var(--color-primary-disabled);
    background-color: var(--color-primary-background-disabled);
    cursor: default;
}

.secondary-button {
    color: var(--color-secondary);
    background-color: var(--color-secondary-background);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}

.secondary-button:hover {
    color: var(--color-secondary-hover);
    background-color: var(--color-secondary-background-hover);
}

.secondary-button:active {
    color: var(--color-secondary-hover);
    background-color: var(--color-secondary-background-selected);
}

.secondary-button:disabled {
    color: var(--color-secondary-disabled);
    background-color: var(--color-secondary-background-disabled);
    cursor: default;
}

.tertiary-button {
    color: var(--color-content-weak);
    background-color: transparent;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
}

.tertiary-button:hover {
    background-color: var(--color-secondary-background-hover);
}

.tertiary-button:active {
    color: var(--color-secondary-hover);
    background-color: var(--color-secondary-background-selected);
}

.card {
    padding: var(--padding);
    transition: all 0.25s;
    border-radius: var(--corners);
}

.content-card {
    background-color: var(--color-content-background);
}

.content-card:hover {
    background-color: var(--color-content-background-hover);
}

.caution-card {
    color: var(--color-caution);
    background-color: var(--color-caution-background);
}

.danger-card {
    color: var(--color-danger);
    background-color: var(--color-danger-background);
}

.success-card {
    color: var(--color-success);
    background-color: var(--color-success-background);
}
